SOURCE_RPC_URL=
SIGNER_ACCOUNT_ADDRESSES=
SIGNER_ACCOUNT_PRIVATE_KEYS=
PROST_RPC_URL=
PROTOCOL_STATE_CONTRACT=
DATA_MARKET_CONTRACT=
AUTH_READ_TOKEN=
PROST_CHAIN_ID=
RELAYER_RENDEZVOUS_POINT=
IPFS_URL=
BATCH_SIZE=
BLOCK_TIME=
FULL_NODES=
SLACK_REPORTING_URL=